*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Segoe UI;
  letter-spacing: 50;
}

.header-section {
  height: 100px;
  background-color: white;
  margin-bottom: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  display: center;
  text-align: center;
}

.home-section {
  margin-top: 100px;
  background-color: rgb(191, 118, 49);
  margin-bottom: 10px;
}

.about-section {
  height: 100px;
  background-color: rgb(191, 118, 49);
  margin-bottom: 10px;
}

.products-section {
  height: 100px;
  background-color: rgb(191, 118, 49);
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.contact-section {
  height: 100px;
  background-color: rgb(191, 118, 49);
  margin-bottom: 10px;
}

.product-flex {
    display: flex;
    flex-wrap: wrap;
}

/* content style (shadows, etc) */
.container-flex {
    display: flex; 
    flex-wrap: wrap;
    width: 35%;
    background-color: ghostwhite;
    top: 0;
    margin-bottom: 60px;
    text-align: center;
    list-style-type: none;
    justify-content: space-between;
}
.card {
    width: 200px;
}

.card-image {
    width: 200px;
}

.nav-item {
    margin: 0px;
}

.nav-item-link {
    margin: 0; 
    color: black;
    text-decoration: none;

    
}